body,
p,
td,
th {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 18px;
  margin: 18px;
}
header {
  padding: 9px 9px;
  border-bottom: 1px solid #6666aa;
  margin-bottom: 18px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 9px 9px;
}
.table-lined {
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.table-lined th,
.table-lined td {
  text-align: left;
  padding: 9px 9px;
}
.table-lined th {
  font-weight: normal;
  color: #333366;
  text-transform: capitalize;
}
.table-lined tr,
.table-lined thead {
  border-bottom: 1px solid #6666aa;
}
.table-lined tr:last-child {
  border-bottom: none;
}
.table-stats th,
.table-stats td {
  text-align: left;
  padding: 0px 9px;
}
.table-stats td:first-child {
  font-weight: normal;
  color: #333366;
  text-transform: capitalize;
}
